body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #000 url('images/star background.jpeg') repeat;
    color: #fff
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

header {
    background-color: #0A0A0A;
    color: #FFFFFF;
    padding: 20px 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

main {
    padding: 20px 0;
}

h1 {
    text-align: center;
    font-size: 110px;
}

.form-group {
    margin-bottom: 40px; /* Adds space between form elements */
}


input[type="text"], input[type="number"] {
    align-self: center;
    width: 40%; /* Makes the input take the full width of its container */
    height: 50px; /* Adjust height as needed */
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
    border: 2px solid #fff; /* Optional: adds a white border */
    font-size: 30px; /* Larger font size */
    padding: 10px; /* Adds some padding inside the text box */
    color: #FFF; /* Text color */
    border-radius: 5px; /* Rounds the corners */
}
button {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    color: #000; /* Text color, choose what contrasts well with your button */
    padding: 15px 30px; /* Adjust padding to make the button bigger */
    font-size: 18px; /* Larger font size for better readability */
    border: 2px solid #fff; /* White border, adjust color as needed */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

select {
    -webkit-appearance: none; /* Removes default styling for WebKit browsers */
    -moz-appearance: none; /* Removes default styling for Mozilla browsers */
    appearance: none; /* Removes default styling */
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    width: 30%; /* Full width of its container */
    padding: 10px 15px; /* Padding inside the dropdown, adjust as needed */
    border: 2px solid #fff; /* White border, adjust color as needed */
    border-radius: 10px; /* Rounded corners */
    font-size: 30px; /* Larger font size for better readability */
    color: black; /* Text color */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    margin-bottom: 20px;
}
select, option {
    color: black; /* Or any color that contrasts well with your background */
    background-color: white;
}

select:focus {
    outline: none; /* Removes the default focus outline */
}

button:hover {
    background-color: rgba(255, 255, 255, 0.7); /* Slightly less transparent on hover */
    color: #222; /* Optionally change text color on hover */
}

#result {
    font-size: 40px; /* Adjust this value to make the text bigger */
    text-align: center; /* Centers the text horizontally */
    width: 100%; /* Ensures the text container takes up the full width */
    margin-top: 20px; /* Adds some space above the result text */
    color: #fff; /* Adjust color as needed */
}

#explanation {
    margin-top: 20px; /* Adds space above the explanation section */
    padding: 15px; /* Adds padding around the content for better readability */
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth, adjusted for better contrast */
    color: #333333; /* Dark gray for better readability */
}


#explanation h2 {
    text-align: center; /* Centers the title text */
    font-size: 35px; /* Makes the title larger */
    color: #e82d2d; /* Slightly darker color for the title for emphasis */
    margin-bottom: 20px; /* Adds space below the title */
}

#explanation p {
    font-size: 25px; /* Adjusts the paragraph text size for readability */
    line-height: 1.6; /* Increases line height for better readability */
    text-align: justify; /* Justifies the paragraph text for a polished look */
    margin-bottom: 10px; /* Adds space between paragraphs */
}





footer {
    background-color: #0A0A0A;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
